body {
    box-sizing: border-box;
    margin: 0;
}

.content {
    display: flex;
}

.left {
    width: 270px;
    height: 100vh;
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.03);
    z-index: 10;

}

.right {
    width: 40%;
    height: 100%;
    background-color: white;
    height: 100vh;
}

.center {
    overflow: auto;
    background-color: rgb(245, 245, 245);
    height: 100vh;
    padding: 0 30px;
}

.center::-webkit-scrollbar {
    display: none;
}

.logo {
    /* width: 100%; */
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid lightgray;
    margin: 0 20px;
}

.listGroup {
    padding: 20px 20px;
}

.listGroup .active{
    color: rgb(29, 43, 163);
}

.listGroup .active:hover{
    color: rgb(29, 43, 163);
}

.list {
    padding: 20px 20px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

.list:hover {
    color: rgb(201, 42, 42);
}

.list:active {
    color: rgb(29, 43, 163);
}

.product_img {
    height: 100%;
    width: 200px;
}

.product_img>img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 10px 0 0 10px ;
}

.productTitle {
    font-size: 24px;
    font-weight: bold;
    margin: 30px 0;
    padding: 10px 0;
}



.product {
    display: flex;
    height: 200px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
}

.product_text_group {
    padding: 15px 30px;
    width: calc(100% - 200px);
}

.product_text_hd {
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.product_text_content {
    width: 70%;
    padding: 5px 0;

}

.product_text_icon > span {

    margin-right: 10px;

}

.product_text_icon > span > i {
    border-radius: 20px;
    padding: 6px;
    border: 1px solid rgb(0, 0, 0);
    display: inline-block;
}

.product_text_btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 20px;
}


.btu_group {
    background-color: white;
    border-radius: 5px;
    border: 1px solid lightgray;
    width: fit-content;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.productBtn:hover {
    background-color: rgb(243, 243, 243);
}

.productBtn:active {
    background-color: rgb(230, 230, 230);
}

.productBtn > button {
    background : none;
    border: none;
    margin: 5px;
    cursor: pointer;
    padding: 5px;
}

.orderNum {
    width: 45px;
    display: flex;
    justify-content: center;
}


.user_group {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    margin: 0 30px;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.user_name {
    font-size: 24px;
    font-weight: bold;
}

.user_btn {
    padding: 10px 12px;
    border: 1px black solid;
    border-radius: 6px;
    cursor: pointer;
}

.user_btn:hover {
    color: gray;
    border: 1px gray solid;

}

.order_group {
    /* padding: 30px 0; */
    margin: 30px 30px;
}

.order_title {
    font-size: 24px;
    font-weight: bold;
}

.myOrder {
    height: 65vh;
    overflow: auto;
}

.myOrder::-webkit-scrollbar {
    display: none;
}

.order_sum_name {
    font-size: 18px;
    font-weight: bold;
}

.order_product {
    width: 100%;
    display: flex;
    height: 100px;
    background-color: rgb(238, 238, 238);
    padding: 10px 0;
    border-radius: 7px;
    margin: 20px 0;
}

.order_img {
    width: 100px;
    height: 100%;
    margin: 0 10px;
}

.order_img>img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    
}

.order_text_content {
    font-size: 12px;
    margin: 10px 0;
}

.order_text_hd {
    font-weight: bold;
    display: flex;
    justify-content: space-between;

}

.order_btu_group {
    background-color: white;
    border-radius: 5px;
    border: 1px solid lightgray;
    width: fit-content;
    display: flex;
    align-items: center;
    font-size: 12px;
}

.order_Btn > button {
    background : none;
    border: none;
    margin: 3px;
    cursor: pointer;
    padding: 3px;
}

.order_Btn:hover {
    background-color: rgb(243, 243, 243);
}

.order_Btn:active {
    background-color: rgb(230, 230, 230);
}

.NeworderNum {
    width: 35px;
    display: flex;
    justify-content: center;
}

.order_text_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.order_text_group{
    padding: 0 12px;
}

.delBtn {
    cursor: pointer;
}
.delBtn:hover {
    color: rgb(214, 28, 28);
}
.delBtn:active {
    color: rgb(168, 24, 24);
}